#login{
    background-image: url(login.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginpage{
    height: 350px;
    width: 300px;
    margin-top: 20px;
    color: white;
    border-radius: 0.5rem;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#part6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-bottom: 20px;
}
#part5{
    margin-top: 10px;
}
.part8{
    border-radius: 0.3rem;
    background-color: rgb(3, 3, 49);
    color: white;
    border: 1px white solid;
}
p{
    font-size: 0.6rem;
    
}
.part9{
    display:inline-flex;
    margin-top: 20px;
}
#part10{
    margin-left: 30px;

}
#part4:hover{
    cursor: pointer;
}
#part2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.glow-on-hover {
    width: 150px;
    height: 20px;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    background-color: rgb(3, 3, 49);
    margin-top: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.glow-on-hover1 {
    width: 250px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 1px white solid;
}

.glow-on-hover1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover1:active {
    color: #000
}

.glow-on-hover1:active:after {
    background: transparent;
}

.glow-on-hover1:hover:before {
    opacity: 1;
}

.glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.input-field{
  position: relative;
}
.input-field input{
   width: 150px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color:white ;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus{
  border: 2px solid #6c8ff5;
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background: black;
}
